Screen {
    layers: base above;
    overflow: hidden;
}


TextLog {
    background: $surface;
    color: $text;
    height: 20vh;
    dock: bottom;
    layer: above;
    border-top: tall $primary;
    border-left: tall $primary;
    border-right: tall $primary;
    offset-y: 0;
    transition: offset 400ms in_out_cubic;
    padding: 0 1 1 1;
}

TextLog:focus {
    offset: 0 0 !important;
}

TextLog.-hidden {
    offset-y: 100%
}

ConfigPanel {
    padding: 0 1 1 1;
    width: 20vw;
    background: $panel;
    layer: above;
	dock: left;
    transition: offset 500ms in_out_cubic;
    offset-x: 0;
}

TabbedContent {
    height: 100%;
}

TwitterConfig {
    height: 60;

}

TwitterConfig ListView {
    height: 80%;
}


ConfigPanel:focus {
    offset: 0 0 !important;
}

ConfigPanel.-hidden{
    offset-x: -100%
}

ConfigPanel ListView {
    padding: 1 1;
}


#news_feed{
    width: 62%;
}

#selection_display {
    height: 23%;
}

#price_tracker {
    height: 20%;
}

#buy_action {
    height: 57%;
}


SelectionDisplay {
    background: $error-darken-3;
}

SelectionDisplay.-valid-pair {
    background: $success-darken-3;
}

SelectionDisplay AutoComplete {
    padding: 1 0;
    background: $background-lighten-1;
}

SelectionDisplay Static {
    text-style: bold;
    content-align: center middle;
    height: 1fr;
}

SelectionDisplay Button{
    width: 1fr;
    height: 1fr;
}

PriceTracker {
    background: $background-lighten-2;
}

PriceTracker #price_layout{
    background: $secondary-darken-2;
    height: 1fr;
}

PriceTracker #price_layout > Static {
    content-align: center middle;
}

PriceTracker #table_layout {
    height: 3fr;
}

PriceTracker Vertical{
    width: 1fr;
}

PriceTracker #header_col {
    width: 10;
}

PriceTracker .header {
    text-style: bold underline;
}

PriceTracker Static {
    content-align: center middle;
    height: 1fr;
}

PriceTracker .up {
    background: $success-darken-2;
}

PriceTracker .down {
    background: $error-lighten-1;
}


PositionManager Horizontal {
    height: auto;
}

PositionManager Static {
    width: 1fr;
}

PositionManager #exchange_data{
    background: $secondary-darken-3;
    text-style: bold;
    height: 3;
    content-align: center middle;
}

PositionManager .title {
    background: $secondary-darken-2;
    text-style: bold;
    content-align: center middle;
    border: tall $background;
    border-left: none;
}

PositionManager .value {
    height: 3;
    content-align: center middle;
}

PositionManager #usdt_label {
    width: 1fr;
}

PositionManager #current_usdt {
    width: 2fr;
}

PositionManager #update_holdings {
    width: 1fr;
    border: none;
    background: $surface;
}

PositionManager #bid_label{
    width: 1fr;
}

PositionManager #bid_input {
    width: 3fr;
}

PositionManager #leverage_title{
    height: 100%;
}

PositionManager #leverage_selector {
    width: 3fr;
}

PositionManager #position_buttons {
    width: 1fr;
}

PositionManager #position_buttons > Button{
    margin-top: 1;
    height: 5;
    width: 48%
}

PositionManager #position_buttons > Button:focus{
    tint: yellow 30%;
}

PositionManager #open_long {
    dock: right;
}

PositionManager #open_short {
    dock: left;
}

PositionManager TextLog {
    height: 15%;
    border: tall $secondary;
}

PositionManager #testnet_label {
    offset-x: 60vw;
    offset-y: 1vw;
    text-style: bold;
    content-align-vertical: middle;
}

ConfirmPositionDialog {
    display: none;
    dock: top;
    offset-y: 5;
    layer: above;
    border: dashed $secondary;
    border-title-align: center;
    background: $accent-darken-3;
    height: 30vh;
    padding: 3 5;
}

ConfirmPositionDialog.-display-dialog{
    display: block;
}

ConfirmPositionDialog Label {
    text-style: bold;
    content-align: center middle;
}

ConfirmPositionDialog Button {
    margin-top: 1;
    width: 48%;
    height: 5;
}

ConfirmPositionDialog #confirm{
    dock: right;
}

ConfirmPositionDialog #cancel{
    dock: left;
}



NewsContent {
    height: auto;
    margin: 1 2;
    border: $secondary;
    layer: one;
}

NewsContent Horizontal {
    height: auto;
}

NewsContent Vertical {
    height: auto;
}

NewsContent #source {
    content-align: center middle;
    text-style: bold;
    margin: 0 2;
    height: 100%;
    width: 15%;
}

NewsContent #title {
    text-style: underline;
    padding: 1 0;
    height: auto;
    width: 80%;
}


NewsContent #body {
    padding: 1 0;
    width: 75%;
}

NewsContent #link {
    padding: 1 0;
}

NewsContent #time {
    width: 35%;
}

NewsContent #coin {
    content-align: right middle;
    width: 40%;
}


NewsContent #delay{
    text-style: italic;
}

NewsContent:focus {
    background: $background-lighten-2;
}

NewsContent.selected {
    border: double teal !important;
}
